<!-- Download Section -->
<section id="download" class="container content-section text-center">
    {{ range where .Data.Pages "Section" "download" | first 1 }}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <br/>
            <br/>
            <h2>{{ .Title }}</h2>
            <br/>

            <div class="Rtable Rtable--4cols Rtable--collapse">
                <div style="order:0;" class="Rtable-cell Rtable-cell--head">
                    <h3>Windows</h3>
                </div>
                <div style="order:1;" class="Rtable-cell">Windows Installer<br/>Windows 7, 8 or 10 (64bits)</div>
                <div style="order:2;" class="Rtable-cell Rtable-cell--foot">
                    <div class="download">
                        <a href="{{ .Params.Windows }}">
                            Download
                        </a>
                    </div>
                </div>

                <div style="order:0;">&nbsp;&nbsp;</div>
                <div style="order:1;">&nbsp;&nbsp;</div>
                <div style="order:2;">&nbsp;&nbsp;</div>

                <div style="order:0;" class="Rtable-cell Rtable-cell--head">
                    <h3>Linux</h3>
                </div>
                <div style="order:1;" class="Rtable-cell">Ubuntu 16.04 LTS (64bits) or newer;<br/>or<br/>another recent Distro</div>
                <div style="order:2;" class="Rtable-cell Rtable-cell--foot">
                    <div class="download">
                        <a href="{{ .Params.Linux }}">
                            Download
                        </a>
                    </div>
                </div>

                <div style="order:0;">&nbsp;&nbsp;</div>
                <div style="order:1;">&nbsp;&nbsp;</div>
                <div style="order:2;">&nbsp;&nbsp;</div>

                <div style="order:0;" class="Rtable-cell Rtable-cell--head">
                    <h3>MacOSX</h3>
                </div>
                <div style="order:1;" class="Rtable-cell">MacOSX 10.13 or newer<br/><br/>Requirements:<br/>SDL2, OpenGL and GLEW</div>
                <div style="order:2;" class="Rtable-cell Rtable-cell--foot">
                    <div class="download">
                        <a href="{{ .Params.MacOSX }}">
                            Download
                        </a>
                    </div>
                </div>
            </div>

            {{ .Content }}

            <br/>
        </div>
    </div>
    {{ end }}
</section>
